/* global styles */
@font-face {
    font-family: "AmazDooMLeft";
    src: url("/fonts/AmazDooMLeft.woff2") format('woff2'),
        url("/fonts/AmazDooMLeft.woff") format('woff'),
        url("/fonts/AmazDooMLeft.ttf") format('truetype'),
        url("/fonts/AmazDooMLeft.svg") format('svg');
}
@font-face {
    font-family: "AmazDooMLeftOutline";
     src: url("/fonts/AmazDooMLeftOutline.svg") format('svg');
}
@font-face {
    font-family: "AmazDooMRight";
    src: url("/fonts/AmazDooMRight.woff") format('woff');
}
@font-face {
    font-family: "AmazDooMRight2";
    src: url("/fonts/AmazDooMRight2.woff") format('woff');
}
@font-face {
    font-family: "AmazDooMRightOutline";
    src: url("/fonts/AmazDooMRightOutline.woff") format('woff');
}
@font-face {
    font-family: "DooM";
    src: url("/fonts/DooM.woff") format('woff');
}